{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изготовление печатей в Москве</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static "../media/static/images/favicon.ico" %}" type="image/x-icon">
</head>
<body class="center-block">
<nav class="navbar navbar-default navbar-static-top container" id="header">
    <div class="row"><img src="{% static "../media/static/images/logo.png" %}" class="col-sm-3 col-sm-offset-3"></div>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Вектор-Мск</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'pricelist' %}">Цены</a></li>
            <li><a href="{% url 'oplata_dostavka' %}">Оплата и доставка</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>
<!-- Begin page content -->
<div class="container basic">
    {% block content %}
        <div class="row">
            {% for item in pechati_objects %}
                <div class="col-sm-3 col-xs-12">
                    <img src="{{ item.image.url }}" style="margin-top: 10px">
                    {#                    <p>{{ item.description }}</p>#}
                    <button class="btn btn-info btn-block" style="margin: 20px 0;"><a
                            href="{% url 'pechatip' %}">{{ item.name }}</a></button>
                </div>
            {% endfor %}
        </div>
        <p class="text-center"><strong>Приветствуем Вас на сайте компании «Вектор-МСК»!</strong></p>

        <p>​Мы являем собой ведущее производство печатей и штампов в регионе, более 5 лет поставляющее качественные
            штемпельные товары на местный рынок. Если Вы искали, где можно сделать печать в Нижнем Новгороде, Вы
            однозначно
            обратились по адресу — наша фирма занимается профессиональным изготовлением наиболее качественных печатей с
            применением сертифицированного немецкого оборудования.</p>

        ​
        <p>В штат «Вектор-НН» входят высококлассные дизайнеры, обеспечивающие создание безукоризненных макетов штампов и
            печатей, а также отрисовку печатей с логотипами, профессиональные юристы, проверяющие печати на соответствие
            требованиям соответствующих законных актов, а также квалифицированные мастера производства, осуществляющие
            сам
            процесс изготовления печатей. Контроль за изготавливаемой продукцией осуществляется на всех этапах
            производства,
            что позволяет гарантировать исключительное качество будущих печатей. Низкая цена на изготовление печатей
            обусловлена использованием малозатратного оборудования и собственным производством сырья, что позволяет
            свести к
            минимуму расходы.</p>

        <p>​Скорость изготовления позволяет Вам забрать вашу печать уже спустя 20 минут после звонка, если это
            необходимо.
            У нас Вы можете купить печать, штамп и приобрести любую другую необходимую фирме продукцию.
            «Вектор-НН» готов изготовить для ваших нужд печати ООО, печати для предпринимателей (печати ИП), печати
            организаций, а также печати с индивидуальным дизайном, печати врачей, печати с логотипом, печати для
            инженеров,
            и любые другие виды печатей. Мы также сделаем для вас штампы, как обычные («Копия верна», «Получено»,
            «Оплачено»), так и нестандартные (угловые штампы, штампы-визитки). Данные штампы могут иметь любой дизайн по
            вашему желанию.</p>

        <p>Также у нас можно купить оснастки для печатей, купить оснастки для штампов. Мы предлгаем к покупке как
            автоматические оснастки для печатей, так и ручные, штемпельные подушки, датеры, нумераторы и любую иную
            штемпельную продукцию.
            Если вы искали, где можно сделать печать в Москве, то Вы однозначно обратились по адресу, купить
            печать в Москве — это к нам.</p>

        <p class="text-center">​<strong>Будем крайне рады видеть Вас!</strong></p>
    {% endblock %}
</div>

<footer class=" container page-footer font-small unique-color-dark pt-4" style="background-color: lightgrey">
    <!-- Footer Text -->
    <div class=" text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 mt-md-0 mt-3">
                <!-- Content -->
                <p class="text-center" id="footer-text">Для того чтобы заказать печать, перейдите в необходимый раздел,
                    выберите печать,
                    заполните данные и
                    подтвердите заказ печати. Кроме того, Вы можете купить печать позвонив нам или отправив электронное
                    письмо.</p>
                <div class="row" id="footer-cont-mailcity">
                    <p id="footer-city">2015-2019 ООО "Вектор-Мск"<br>
                        г. Москва, Измайловский проспект 35</p>
                    <p id="footer-mail">+7-977-566-23-80<br>
                        E-mail: rromanovandrey@gmail.com</p>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Text -->
</footer>
<!-- Footer -->
<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "js/bootstrap.js" %}'></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>