{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row contact">
        <div class="col-md-4"><img src="{% static "../media/static/images/address.png" %}"></div>
        <div class="col-md-8"><strong>Москва, Измайловскй проспект 70,м.Измайловская</strong>
            <p> Мы также можем доставить заказ прямо до вашего офиса или дома, если это необходимо.</p>
        </div>
    </div>
    <div class="row contact">
        <div class="col-md-4"><img src="{% static "../media/static/images/worktime.png" %}"></div>
        <div class="col-md-8"><strong>Мы работаем с 08:00 до 20:00</strong>
            <p>Без выходных, без праздников и обеденных перерывов.</p>
        </div>
    </div>
    <div class="row contact">
        <div class="col-md-4"><img src="{% static "../media/static/images/contacts.png" %}"></div>
        <div class="col-md-8"><strong>8-977-566-23-80</strong>
            <p> Менеджер по продажам всегда на связи.</p>
        </div>
    </div>
{% endblock %}