{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .col-md-8 {
            margin-top: 10px;
        }
    </style>
    <div class="row">
        <div class="col-md-4"><img src="{% static "../media/static/images/delivery.png" %}"></div>
        <div class="col-md-8"> Стоимость доставки по Москве составляет 200 рублей.
            При заказе от 1200 рублей доставка бесплатна!
            Доставка осуществляется в любую точку города после 18:00 в день заказа, либо с 08:00 до 22:00 на следующий
            день.
            Заказать доставку можно в форме заказа печати, поставив соответствующую галочку и указав адрес, либо
            позвонив нам
            или отправив заявку на нашу почту.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><img src="{% static "../media/static/images/pay.png" %}"></div>
        <div class="col-md-8"> Стоимость доставки по Москве составляет 200 рублей.
            При заказе от 1200 рублей доставка бесплатна!
            Доставка осуществляется в любую точку города после 18:00 в день заказа, либо с 08:00 до 22:00 на следующий
            день.
            Заказать доставку можно в форме заказа печати, поставив соответствующую галочку и указав адрес, либо
            позвонив нам
            или отправив заявку на нашу почту.
        </div>
    </div>
{% endblock %}