{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .col-md-8 {
            margin-top: 10px;
        }
    </style>
    <div class="row">
        <div class="col-sm-4"><img src="{% static "../media/static/images/delivery.png" %}"
                                   class="img-responsive img-paydeliv"></div>
        <div class="col-sm-8 text-justify"> Стоимость доставки по Москве составляет 200 рублей.<br>
            При заказе от 1200 рублей доставка бесплатна!<br>
            Доставка осуществляется в любую точку города после 18:00 в день заказа, либо с 08:00 до 22:00 на следующий
            день.<br>
            Заказать доставку можно в форме заказа печати, поставив соответствующую галочку и указав адрес, либо
            позвонив нам или отправив заявку на нашу почту.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4"><img src="{% static "../media/static/images/pay.png" %}"
                                   class="img-responsive img-paydeliv"></div>
        <div class="col-sm-8 text-justify">Физическое лицо может оплатить заказ наличными при получении в офисе или у
            курьера, либо воспользовавшись безналичной оплатой через любой из онлайн-сервисов (интернет-банкинг,
            электронные деньги и т.д.).<br>
            Юридическому лицу выставляется счет, который может быть оплачен любым удобным способом.<br>
            Любой заказ сопровождается выдачей соответствующих бухгалтерских документов.
        </div>
    </div>
{% endblock %}