{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for osnastki in osnastki_list %}
            <div class="col-sm-4 ">
                <div class="thumbnail" style="height: 420px; position: relative;">
                    <img src="{{ osnastki.image.url }}" alt="" class="img-responsive">
                    <div class="caption">
                        <h4 class="text-center"><strong>
                            {{ osnastki.title }}</strong></h4>
                        <h3 class="text-center">{{ osnastki.price }} руб.</h3>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}